<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDebFxjgybvJNQI73RV2ctKr-BM_eLWTKI</string>
	<key>GCM_SENDER_ID</key>
	<string>875762331979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tsukulog</string>
	<key>PROJECT_ID</key>
	<string>tsukulog-1285f</string>
	<key>STORAGE_BUCKET</key>
	<string>tsukulog-1285f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875762331979:ios:67981190ff379f7751f8ce</string>
</dict>
</plist>